@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mohave:wght@300&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: chartreuse;
  font-family: "Mohave", sans-serif;
}
